html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
  background-color: #1e1e1e !important;
  border-bottom: 2px solid #0f0f0faf !important; 
}


.navbar, .navbar a, .navbar-brand, .navbar-nav .nav-link {
  color: #ffffff !important;
}


body {
  margin-bottom: 60px;
  background-color: #1e1e1e;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.card {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 4px solid #0f0f0faf;
  border-bottom: 8px solid #0f0f0faf;
}

.card-title,
.card-text,
.card-body,
.card .btn,
.card small {
  color: #ffffff !important;
}

.card a {
  color: red !important;
}

.btn {
  background-color: red !important;
}

.background-color {
  background-color: rgb(177, 5, 5) !important;
  border-bottom: 2px solid rgb(112, 3, 3) !important; 
}

.footer {
  color: #ffffff !important; /* cor do texto */
  border-top: 2px solid #0f0f0faf !important; 
}

.footer a {
  color: #ffffff; /* cor dos links */
}